
<%= form_for :comment, url: post_comments_path(post_id), method: :POST, local: true do |form| %>
  
  

  <div class="input-group mb-3">
    <%= form.text_field :content, class: "form-control" %>
    <%= form.submit "Add comment", class: "btn btn-outline-secondary" %>
  </div>
<% end %>